<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'bookings/images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'bookings/css/styles.css' %}">   
    <title>Bella Italia</title> 
</head>
<body>
    <header>
        <h1>Bella Italia</h1>
        <nav id="menu">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'menu' %}">Menu</a></li>
                <li><a href="{% url 'make_reservation' %}">Booking</a></li>
                
            </ul>
        </nav>
        <div id="menusmallscreen">
            <button class="menubtn">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <div id="sidenav" class="sidenav">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'menu' %}">Menu</a>
            <a href="{% url 'make_reservation' %}">Booking</a>
        </div>
    </header>
    <section class="container3">
        <h2>Our menu</h2>
        <div class="pdf-container">
            <embed src="{% static 'bookings/images/menu.pdf' %}" type="application/pdf">
        </div>
    </section>
    <footer id="menufooter">
        <p>&copy; 2021 Bella Italia</p>
        <nav id="footermenu">
            <ul>
                <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i>Follow us on instagram</a></li>
                <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i>Check out our facebook</a></li>
            </ul>
        </nav>
    </footer>
    <script src="{% static 'bookings/scripts/script.js' %}"></script>
</body>
</html>
