header{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: black;
    width: 100%;
}

#menu{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#menu a{
   text-decoration: none;
   color: gold;
}